<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:current_user] %>
      <%= session[:current_user] %>
      <%= link_to 'Log Out', '/sessions', method: :delete %> 
      <% else %>
      <%= link_to 'Sign In', new_sessions_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
